

<h1>Articles</h1>
<dl>
<% @articles.each do |article| %>
<dt><%= article.title %> By:<%=article.author.name %></dt>
<dd><%= truncate(article.body, :length => 80)%></dd>
<% end %>
</ul>


number of comments,
From here, you should be able to click on an author and view their Show page, or click on the title of the Article and view the entire Article and its comments
