<div class="jumbotron">
<h1>Write your article below</h1>
</div>
<div class="container">
<%= form_for [@author, @article] do |form| %>
  <p><%= form.text_field :title, placeholder: "Title" %></p>
  <p><%= form.text_area :body, placeholder: "Start writing", :cols => "60", :rows => "10"%></p>
  <p><%= form.submit %></p>
<% end %>
</div>
