<div class="jumbotron">
  <h1>All Authors</h1>
</div>
<div class="container">
  <ul>
    <% @authors.each do |author| %>
    <li><%= link_to author.name, author_path(author.id) %> <br> <%= author.email %></li>
    <% end %>
  </ul>
  <%= link_to "All Articles", :root %><br>
  <%= link_to "Sign up as an author", new_author_path %>
</div>
